body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

label {
  width: 100px;
  display: inline-block;
}

button {
  border: 0;
  background: red;
  color: white;
  padding: 16px;
  font-size: 10pt;
  margin: 48px 0;
}

ul {
  list-style-type: none;
}